doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 6 misol 
        link(rel="stylesheet" href="../../css/normalize.css")
        link(rel="stylesheet" href="../../sass/style.css")
    body 
    header.header 
        .header_loge 
            .header_link1
                ol.header_link_ol 
                    li VISIT
                    li EXHIBITION
                    li COLLECTION
                    li PROGRAMS
            .header_link2
                img(src="../../image/Group (1).png" alt="")
                h4 search something...
    main.main 
        .main_loge 
            .main_link1
                p ART IN ITS BEST FORM...
                img(src="../../image/maks.png", alt="")
            .main_link2 
                .main_ichi
                    h1 COVID - 19 Response:
                    p
                        h3 Stay at home with SAM
                        img(src="../../image/Vector (3).png", alt="")
                img(src="../../image/asd.png", alt="")
            .main_link3
                img(src="../../image/dsa.png", alt="")





